<div class="container">
  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                </div>
                <form class="user" (ngSubmit)="onSubmit(form)" #form="ngForm">
                  <ng-container ngModelGroup="gInfo" #gInfo="ngModelGroup">
                    <div class="form-group">
                      <input name="email" type="email" class="form-control form-control-user" id="exampleInputEmail"
                        aria-describedby="emailHelp" placeholder="Enter Email Address..." [(ngModel)]="data.email"
                        #mEmail="ngModel" required>
                    </div>
                    <div *ngIf="mEmail.errors && form.submitted">
                      <ul *ngIf="mEmail.errors.required">please enter your
                        email!</ul>
                    </div>
                    <div class="form-group">
                      <input name="password" type="password" class="form-control form-control-user"
                        id="exampleInputPassword" placeholder="Password" [(ngModel)]="data.password"
                        #mPassword="ngModel">
                    </div>
                  </ng-container>
                  <div>
                    dirty: {{mEmail.dirty}}
                    <br />
                    pristine: {{mEmail.pristine}}
                    <br />
                    value: {{mEmail.value}}
                    <br />
                    invalid: {{mEmail.invalid}}
                    <br />
                    name: {{mEmail.name}}
                    <br />
                    options: {{mEmail.options}}
                    <br />
                    errors: {{mEmail.errors|json}}
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                      <input name="rememberMe" type="checkbox" class="custom-control-input" id="customCheck"
                        [(ngModel)]="data.remember" #mRememberMe="ngModel">
                      <label class="custom-control-label" for="customCheck">Remember Me</label>
                    </div>
                  </div>
                  <button [disabled]="gInfo.invalid" type="submit" href="index.html"
                    class="btn btn-primary btn-user btn-block">
                    Login
                  </button>
                  <hr>
                  <a href="index.html" class="btn btn-google btn-user btn-block">
                    <i class="fab fa-google fa-fw"></i> Login with Google
                  </a>
                  <a href="index.html" class="btn btn-facebook btn-user btn-block">
                    <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                  </a>
                  <p>form.submit: {{form.submitted}}</p>
                  <p>form.stasus: {{form.status}}</p>
                  <p>form.touched: {{form.touched}}</p>
                  <p>form.untouched: {{form.untouched}}</p>
                  <p>form.valid: {{form.valid}}</p>
                  <p>form.invalid: {{form.invalid}}</p>
                  <p>form.value: {{form.value}}</p>
                  <p>form.dirty: {{form.dirty}}</p>
                  <p>form.errors {{form.errors|json}}</p>
                </form>
                <hr>
                <div class="text-center">
                  <a class="small" href="forgot-password.html">Forgot Password?</a>
                </div>
                <div class="text-center">
                  <a class="small" href="register.html">Create an Account!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
